
<!-- Twig per al menú de l'administrador -->
<article class="admin">
			<h2 class="text-center text-uppercase text-secondary mb-0">Menú d'administració</h2>
			<hr class="star-light mb-5">
</article>