	<article class="destacats-block">
			<h2 class="text-center text-uppercase text-secondary mb-0">Destacats</h2>
			<hr class="star-dark mb-5">

		</article>

{% block javascripts %}
	<script src="{{asset('template/freelancer/vendor/ajax/destacats.js') }}"></script>
{% endblock %}
